---
layout: page
title: "Vorbereitungsteam"
permalink: "/2017/kernteam/"
---
{% assign team = site.data.teams.2017 %}
<ul class="team">
  {% for m in team %}
    <li>
      <div class="picture" style="background-image:url('{{site.urlimg}}/menschen/{{m.image}}')"></div>
      <div class="name">{{ m.name }} {% if m.email %}<a class="icon-mail" href="mailto:{{ m.email }}"></a>{% endif %}</div>
    </li>
  {% endfor %}
</ul>

<h2>Kontakt</h2>

<p>Um uns zu kontaktieren, klick einfach auf einen der Briefumschläge neben den Namen oder schreib an<br /><a class="icon-mail" href="mailto:kontakt@utopival.org">&nbsp;kontakt@utopival.de</a></p>

<h2>Von Händen und Köpfen</h2>
<p>Um eine reibungslose Bewegung auszuführen brauchen wir Köpfe die den Überblick behalten, sowie Hände, die Gedanken in Taten umsetzen. Und beides ist gleich wichtig. Deswegen verstehen wir - das "Kern-Team" - uns als Köpfe, die durch viele helfende Hände unterstützt werden. Und die seid ihr! Wer also schon jetzt Lust hat mitzudenken oder mitzuwuppen, ist herzlichst dazu aufgefordert und eingeladen sich bei uns zu melden! Je weiter die Zeit voranschreitet, desto mehr freuen wir uns über eure Unterstützung und werden mit diversen Dingen auf euch zukommen - schließlich sind wir alle ein großes Team aus Menschen, die gemeinsam auf dem Weg in eine zukunftsfähige Gesellschaft sind.</p>
