<script>
var isSending = false;
function registerNewsletter(form) {
	var mail = form.email.value
	if(isSending || !mail) return false;
	if(!mail.match(/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$/i)) {
		alert('Die Email-Adresse scheint ungültig zu sein')
		return false
	}
	isSending = true;
	
	$.post('https://mails.utopival.de/subscribe', {
		EMAIL: mail,
		REQUIRE_CONFIRMATION: 'yes'
	}).done( function(data) {
		form.innerHTML = '<i class="fa fa-check"></i> Vielen Dank!<br />Du solltest eine E-Mail von uns bekommen. Bitte klicke auf den Link in dieser Mail um deine Adresse zu bestätigen.'
	}).fail( function(jqXHR) {
		isSending = false
		alert(jqXHR.responseJSON.error)
	});
	return false
}
</script>

<aside>
	<div class="radius border-dotted ">
		<h3>Newsletter</h3>
		<p>Bleib auf dem Laufenden und trag Dich in den Newsletter ein:</p>
		<form onSubmit="return registerNewsletter(this)">
			<input name="email" type="email" placeholder="Deine Email-Adresse" />
			<input type="submit" value="Abschicken" />
		</form>
	</div>
</aside>
